<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.augurit.asip.watermap.mapper.MetadataEditMapper">

    <sql id="allColumns">
      id id,
      table_name tableName,
      pri_field priField,
      pri_value priValue,
      field_description fieldDescription,
      orig_value origValue,
      modi_value modiValue,
      remark remark,
      is_modi isModi,
      is_del isDel,
      is_add isAdd,
      last_update lastUpdate,
      opera_name  operaName
    </sql>

    <select id="findMetadata" resultType="WaMetadataModify">
        SELECT
        <include refid="allColumns"/>
        FROM
        WA_METADATA_MODIFY
        WHERE 1=1
        <if test="#{maMetadataModify.tableName} !=null">
            AND table_name = #{maMetadataModify.tableName}
        </if>
        <if test="#{maMetadataModify.priField} !=null">
            AND pri_field = #{maMetadataModify.priField}
        </if>
        <if test="#{maMetadataModify.priValue} !=null">
            AND pri_value = #{maMetadataModify.priValue}
        </if>
    </select>

    <update id="updateMetadata">
        UPDATE
        WA_METADATA_MODIFY
        SET
        <if test="#{maMetadataModify.tableName} !=null">
            table_name = #{maMetadataModify.tableName},
        </if>
        <if test="#{maMetadataModify.priField} !=null">
            pri_field = #{maMetadataModify.priField},
        </if>
        <if test="#{maMetadataModify.priValue} !=null">
            pri_value = #{maMetadataModify.priValue},
        </if>
        <if test="#{maMetadataModify.fieldDescription} !=null">
            field_description = #{maMetadataModify.fieldDescription},
        </if>
        <if test="#{maMetadataModify.origValue} !=null">
            orig_value = #{maMetadataModify.origValue},
        </if>
        <if test="#{maMetadataModify.modiValue} !=null">
            modi_value = #{maMetadataModify.modiValue},
        </if>
        <if test="#{maMetadataModify.remark} !=null">
            remark = #{maMetadataModify.remark},
        </if>
        <if test="#{maMetadataModify.isModi} !=null">
            is_modi = #{maMetadataModify.isModi},
        </if>
        <if test="#{maMetadataModify.operaName} !=null">
            opera_name = #{maMetadataModify.operaName}
        </if>
        WHERE
        ID = #{maMetadataModify.id}
    </update>

    <insert id="saveMetadata">
        INSERT
        INTO WA_METADATA_MODIFY (id,table_name, pri_field,pri_value,field_description ,orig_value ,modi_value ,remark ,is_modi ,last_update,opera_name)
        VALUES (#{maMetadataModify.id},#{maMetadataModify.tableName},#{maMetadataModify.priField},#{maMetadataModify.priValue},#{maMetadataModify.fieldDescription},#{maMetadataModify.origValue},#{maMetadataModify.modiValue},#{maMetadataModify.remark},#{maMetadataModify.isModi},#{maMetadataModify.lastUpdate},#{maMetadataModify.operaName})
    </insert>
</mapper>