/*------body-----------*/
.app-body-container-spe{background-color:#0e4b87}
/*------panal----------*/
/*.app-panal-spe{background-color:#31688A;}*/
.app-panal-spe{}
.app-panal-head-spe{opacity:0.86;border-bottom:1px solid #ffffff;background:#008bcf;filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005495', endColorstr='#03bdce',GradientType=1 );}
.app-panal-background-spe{background-color:#ffffff;}
/*------box------------*/
.app-box-head-spe{background-color:#0e4b87;}
.app-box-content-spe{background-color:#fff;}
/*------tabs-----------*/
.app-tabs .app-tabs-item-active-spe{border-bottom:1px solid #31688A;}
/*------menu-----------*/
.app-menu-spe{background-color:#31688A;}

