<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>广州水务一体化平台</title>
    <link rel="stylesheet" href="../../lib/3rdparty/bootstrap/css/bootstrap.css" />
	<link href="../../lib/3rdparty/jquery-easyui/themes/gray/easyui.css" rel="stylesheet" type="text/css"/>
    <link href="../../lib/3rdparty/jquery-easyui/themes/icon.css" rel="stylesheet" type="text/css"/>
    <link href="css/chooseRecievers.css" rel="stylesheet" type="text/css"/>
    <script src="../../lib/3rdparty/jquery-easyui/jquery.min.js" type="text/javascript"></script>
	<script src="../../lib/3rdparty/jquery-easyui/jquery.easyui.min.js" type="text/javascript"></script>
    <script src="../../lib/3rdparty/jquery-easyui/locale/easyui-lang-zh_CN.js" type="text/javascript"></script>
    <script src="../../lib/3rdparty/jquery-easyui/jquery.easyui.search.js" type="text/javascript"></script>
</head>
<body style="overflow-y: hidden;">
<div class="choose-recievers-container">
	<div class="sms-recievers-search">
		<label>部门或用户名:</label>
		<input type="text" name="searchText" placeholder="请输入部门或用户名" />
		<button class="btn btn-primary btn-sm" onclick="searchRecievers();">查询</button>
	</div>
	<div class="org-recievers">
		<div class="recievers-title">选择用户</div>
		<ul id="org-tree">

		</ul>
	</div>
	<div class="choose-btns">
		<ul class="btns-ul">
			<li><button class="btn btn-primary btn-sm" onclick="addOrgRecievers();">选择&gt;&gt;</button></li>
			<li><button class="btn btn-primary btn-sm" onclick="addAllOrgRecievers();">全选&gt;&gt;</button></li>
			<li><button class="btn btn-primary btn-sm" onclick="removeRecievers();">删除&lt;&lt;</button></li>
			<li><button class="btn btn-primary btn-sm" onclick="removeAllRecievers();">全删&lt;&lt;</button></li>
		</ul>
	</div>
	<div class="recievers">
		<div class="recievers-title">已选列表</div>
		<ul id="recievers-ul">

		</ul>
	</div>
</div>

<script>
	$(function() {
		$('#org-tree').tree({
			animate: true,
			checkbox: true,
			method: 'GET',
			lines: true,
			url: "/agsupport/swuser/tree/listOrgsAndUsers",
			formatter: function (node) {
				return node.text;
			},
			onBeforeExpand: function (node) {
				//$("#org_tree").tree("options").url = "http://127.0.0.1/agsupport/swuser/tree/" + node.id; //查找该节点子节点
			},
			onClick: function (node) {
			},
			onCheck: function(node){

			}
		});

	});

	function addOrgRecievers() {
		var ulHtmlContent = '';
		var nodes = $('#org-tree').tree('getChecked');
		for (var i = 0; i < nodes.length; i++) {
			if ($('#org-tree').tree('isLeaf', nodes[i].target) && nodes[i].isOrg === '0') {
				ulHtmlContent += '<li id="' + nodes[i].id + '" onclick="toggleReciever(\'' + nodes[i].id + '\');">' + nodes[i].text + '</li>'
			}
		}
		$("#recievers-ul").html(ulHtmlContent);
	}

	function addAllOrgRecievers() {
		var roots = $('#org-tree').tree('getRoots');
		for (var i = 0; i < roots.length; i++) {
			$('#org-tree').tree('check', roots[i].target);
		}

		var ulHtmlContent = '';
		var nodes = $('#org-tree').tree('getChecked');
		for (var i = 0; i < nodes.length; i++) {
			if ($('#org-tree').tree('isLeaf', nodes[i].target) && nodes[i].isOrg === '0') {
				ulHtmlContent += '<li id="' + nodes[i].id + '" onclick="toggleReciever(\'' + nodes[i].id + '\');">' + nodes[i].text + '</li>'
			}
		}
		$("#recievers-ul").html(ulHtmlContent);
	}

	function removeRecievers() {
		var nodes = $('#org-tree').tree('getChecked');

		$('#recievers-ul li.reciever-selected').each(function(index, item) {
			for (var i = 0; i < nodes.length; i++) {
				if ($('#org-tree').tree('isLeaf', nodes[i].target) && $(item).attr('id') === nodes[i].id) {
					$('#org-tree').tree('uncheck', nodes[i].target);
				}
			}
		});

		$('#recievers-ul li.reciever-selected').remove();
	}

	function removeAllRecievers() {
		var roots = $('#org-tree').tree('getRoots');

		for (var i = 0; i < roots.length; i++) {
			$('#org-tree').tree('uncheck', roots[i].target);
		}

		$('#recievers-ul li').remove();
	}

	function toggleReciever(id) {
		if($('#' + id).hasClass('reciever-selected')) {
			$('#' + id).removeClass('reciever-selected');
		} else {
			$('#' + id).addClass('reciever-selected');
		}
	}

	function callbackdata() {
		var result = {recieverIds: '', recieverNames: ''};

		var isFirstTime = true;
		$('#recievers-ul li').each(function(index, item) {
			if(!isFirstTime) {
				result.recieverIds += ',';
				result.recieverNames += ',';
			} else {
				isFirstTime = false;
			}

			result.recieverIds += $(item).attr('id');
			result.recieverNames += $(item).text();
		});

		return result;
	}

	function searchRecievers() {
		$('#org-tree').tree("search", $('input[name="searchText"]').val());
	}
</script>
</body>
</html>
