<div class="feedback-list-container" data-bind="feedbackListInitHandler">
	<div style="text-align: left; margin: 0 0 10px 20px">
		<button class="btn btn-primary btn-sm" data-bind="click: createFeedback">我要反馈</button>
	</div>

	<!--ko foreach: {data:$root.feedbacks, as:'feedback'}-->
	<div style="margin: 10px; padding: 10px; border-bottom: 1px dotted #dadada; overflow:auto; zoom:1; ">
		<div>
			<!--ko if: (!feedback.children && feedback.readCount == 0) || (feedback.children && feedback.readCount <= feedback.children.length) -->
			<span style="padding: 2px 4px; color: #FFF; background-color: red;">NEW</span>
			<!--/ko-->
			<a style="color: #F60; font-size: 14px;" data-bind="text: feedback.ftitle, click: $root.lookDetail"></a>
		</div>
		<div class="fcontent" data-bind="text: feedback.content, attr: { title: content }"></div>
		<ul>
			<!--ko foreach: {data:feedback.files, as:'file'}-->
			<li>
				<img style="width: auto; height: auto; max-width: 150px; max-height: 150px" data-bind="attr: { src: '/agsupport/download/file/' + file.id }">
			</li>
			<!--/ko-->
		</ul>
		<div style="clear: both;">
			<span>发布人：<font data-bind="text: feedback.senderName || '--'"></font></span>
			<span style="margin-left: 15px;">部门：<font data-bind="text: feedback.sender.orgName || '--'"></font></span>
			<span style="margin-left: 15px;">职务：<font data-bind="text: feedback.sender.identitynum || '--'"></font></span>
			<span style="margin-left: 15px;">手机号码：<font data-bind="text: feedback.sender.mobile || '--'"></font></span>

			<span style="margin-left: 15px;">分机号码：<font data-bind="text: feedback.sender.fax || '--'"></font></span>
			<span style="margin-left: 15px;">发布时间：<font data-bind="text: feedback.createTime"></font></span>
		</div>
	</div>
	<!--/ko-->

	<div style="float: right;">
		<ul class="pagination">
			<li><a href="#" data-bind="click:function(){ $root.onPageClick(1); }">首页</a></li>
			<!--ko foreach: {data:$root.pageBar, as:'pb'}-->
			<li data-bind="css:{ 'active': pb == $root.pageNum() }"><a href="#" data-bind="click:function(){ $root.onPageClick(pb); }, text:pb"></a></li>
			<!--/ko-->
			<li><a href="#" data-bind="click:function(){ $root.onPageClick($root.lastPageNum()); }">最后一页</a></li>
		</ul>
	</div>
</div>