<div class="fullScreen-container inner-container" style="position:absolute;top:0px;width:100%;height:100%;" data-bind="initFullScreenHandler">
	<div style="width:100%;height:25px;position:absolute;top:0px;z-index:9002" id="godlamp">
		<img src="view/app/resourceContainer/images/blue.png" height="40px" class="fullScreen" style="cursor: pointer;" onclick="fullScreen()"/>
	</div>
	<div id="resourceFrameDiv" style="z-index:99999;position:absolute;top:0px;left:120%;width:100%;height:100%">|
		<iframe id="resourceFrame" frameborder="0" style="width:100%;height:100%;position:absolute;top:0px;left:0px" src="view/app/resourceContainer/resourceContainer_Dark.html"></iframe>
	</div>
	</div>