<div class="map-container inner-container"  data-bind="initMapHandler">

	<!-- 左菜单组件 -->
	<div id="desktop-map-side"></div>

	<!-- 地图 -->
	<div id="desktop-map" class="desktop-map">
		<iframe id="desktop-main-map" class="emap-iframe"></iframe>
	</div>

	<!-- 地图组件 -->
	<div id="widgets_toolbar" class="widgets_toolbar" data-bind="visible:toolbarVisible">
		<ul>
			<li><a class="tool_btn_curtain" id="tool_curtain_btn" title="卷帘"><div style="height: 30px;margin-top: 5px;border-right: 1px solid #d9d9d9;"></div></a></li>
			<li class="toolbar_tool_btn_li" id="tool_btn" ></li>
			<li class="toolbar_layer_btn_li" id="toolbar_layer_btn_li" ></li>
			<li class="tool_btn_space_li" id="tool_btn_space" ></li>
			<li class="tool_btn_report_li" id="tool_btn_report" ></li>
            <li><a class="tool_btn_identify" id="tool_identify_btn" title="属性查看"></a></li>
            <li class="toolbar_info_btn_li"><a class="tool_btn_info" id="tool_btn_info" title="关联信息"></a></li>
		</ul>
	</div>
<script src="js/echarts/jquery.min.js"></script>
		<script src="js/echarts/echarts.js"></script>
		<script type="text/javascript" src="js/tousufltj.js"></script>
		<!-- 投诉分类统计 柱图 -->
		<script type="text/javascript" src="js/paishuiss.js"></script>
		<!-- 排水设施 柱图 -->
		<script type="text/javascript" src="js/szhc.js"></script>
		<!-- 排水设施 柱图 -->
		<script type="text/javascript" src="js/gzswythpt.js"></script>
</div>