<div class="wrap" data-bind="morePageInitHandler">
	<div style="width: 100%">
		<div id="navsite" class="col-xs-2">
			<ul>
				<li><a href="#" data-bind="click:$root.clickSFItem;">三防办</a></li>
				<li><a href="#" data-bind="click:$root.clickPSItem;">排水中心</a></li>
				<li><a href="#" data-bind="click:$root.clickGSItem;">供水</a></li>
				<li><a href="#" data-bind="click:$root.clickSHJItem;">水环境</a></li>
			</ul>
		</div>
		<div style="margin: 70px 0 0 20px;" class="col-xs-10">
			<div id="com_cm02" class="com_cm02">
				<h1 class="cm02_icon1">三防办</h1>
				<div class="application_cm02">
					<ul class="cm02_ul">
						<li><a href="http://10.143.8.25:8282/engine5" target="_blank"><span><img
									src="style/asip/common/css/images/home/cma_01.png"></span><b>广州市排水设施管理信息系统</b></a></li>
						<li><a href="http://218.20.51.65:8066/EAMS" target="_blank"><span><img
									src="style/asip/common/css/images/home/cma_02.png"></span><b>污水处理厂水质水量在线监控平台</b></a></li>
						<li><a href="http://218.20.51.65:8066/BWMS" target="_blank"><span><img
									src="style/asip/common/css/images/home/cma_03.png"></span><b>黑臭水体在线监控系统</b></a></li>
						<li><a href="http://www.tqyb.com.cn/gz/weatherLive/radar"
							target="_blank"><span><img
									src="style/asip/common/css/images/home/cma_04.png"></span><b>雷达回波图</b></a></li>
						<li><a href="http://172.16.49.5:8080/map/map.aspx"
							target="_blank"> <span><img
									src="style/asip/common/css/images/home/cma_05.png"></span><b>台风实时采集分析图</b>
						</a></li>
					</ul>
				</div>
			</div>
			<div id="ps" class="ps" style="display:none;">
				<h1 class="cm02_icon1">排水</h1>
			</div>
			<div id="gs" class="gs" style="display:none;">
				<h1 class="cm02_icon1">供水</h1>
			</div>
			<div id="shj" class="shj" style="display:none;">
				<h1 class="cm02_icon1">水环境</h1>
			</div>
		</div>
	</div>
</div>

