.datagrid-header,
.datagrid-cell,
.datagrid-header-rownumber,
.datagrid-cell-rownumber
{
    background:white;
}
.datagrid-header .datagrid-cell span {
    font-size: 13px;
    font-weight:bold;
}
.datagrid-cell
{
    line-height: 20px;
    overflow: hidden;
    padding: 8px;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
    text-align: center;
    color:#676a6c;
    font-size: 13px;
    font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.datagrid-header td, .datagrid-body td, .datagrid-footer td {
    border-style: solid;
    border-color: #e4eaec;
    font-size: 13px;
}

.datagrid .datagrid-pager {
	 background:white;
}

.datagrid-header, .datagrid-td-rownumber {
    background: white;
}
.datagrid-row-selected {
  background: white;
}