<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<script type="text/javascript" src="../../../lib/3rdparty/arcgis_js_api/dojoConfig.js"></script>
	<link rel="stylesheet" type="text/css" href="../../../lib/3rdparty/arcgis_js_api/dijit/themes/tundra/tundra.css"/>
	<link rel="stylesheet" type="text/css" href="../../../lib/3rdparty/arcgis_js_api/esri/css/esri.css" />
	<script type="text/javascript" src="../../../lib/3rdparty/arcgis_js_api/init.js"></script>
	<style>
		html,body
		{
			width:100%;
			height:100%;
			padding:0;
			margin:0;
			overflow:hidden;
		}
	</style>
	<script type="text/javascript">
        require(["esri/map","esri/geometry/Extent","esri/layers/ArcGISDynamicMapServiceLayer"]);
        require(["dojo/ready"], function (ready) {
            ready(function () {
                initMap();
            });
        });

        var map;
        function initMap() {
            map = new esri.Map("mapDiv", {
                extent:new esri.geometry.Extent(6450.858411207,-34186.526489258,118525.529388793,118812.237285064),
                logo:false,slider:false});
            var layer = new esri.layers.ArcGISDynamicMapServiceLayer("http://10.194.170.75/arcgis/rest/services/basemap/DP_basemap/MapServer");
            map.addLayer(layer);
         }
	</script>
</head>
<body>
<div id="mapDiv" style="width:100%; height:100%;"></div>
</body>
</html>
