<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="pragma" content="no-cache">
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="expires" content="0">
		<title>广州水务一体化平台</title>
		<link type="text/css" rel="stylesheet" href="style.css" />
		<style>
			a{
				cursor: pointer;
			}
		</style>
	</head>

	<body>

		<!--标题-->
		<div class="title">
			<img src="img/title_sy.png" />
		</div>

		<div class="main">

			<!--左-->
			<div class="left">

				<!--河长制-->
				<div class="content">
					<h4>河长制</h4><span style="position: absolute;top: -15px;right: 20px;display: block;float: right;line-height: 30px;background-color: #000;"><a onclick="javascript:topNavigateTo('hzz')" class="titleMore f12"  target="_blank" style="cursor:pointer;font-size: 15px;">更多</a></span>
					<div class="area-3-1" style="margin-top: 0;">
						<div style="width:100%;height:28%; ">
						<h2>2017年问题总量  <span class="zongshu">3</span><span class="zongshu">4</span><span class="zongshu">5</span>  个</h2>
						<h3>河长总数  <span class="nub-blue">2895个</span></h3>
						<h3>市级  <span class="nub-blue">13个</span></h3>
						<h3>区级  <span class="nub-blue">274个</span></h3>
						<h3>镇村级  <span class="nub-blue">2608个</span></h3>
						</div>
						<div id="tousufltj" style="float:left;width:100%;height:78%;margin-top:-8%"></div>
					</div>
				</div>

				<div class="clear"></div>

				<!--水情-->
				<div class="content-c">
					<h4 style="top:0px;">水情 </h4><span style="position: absolute;top:relative;right: 20px;display: block;float: right;line-height: 30px;background-color: #000;"><a onclick="javascript:topNavigateTo('syq')" class="titleMore f12"  target="_blank" style="font-size: 15px;">更多</a></span>
					<div class="area-3-1">
						<!--
						<div class="left-content">
							<h3>超汛限总数  <span class="nub-red" id="rsvrCount">10个</span></h3>
							<img src="img/shuiqingcx.png" />
						</div>
						-->
						<div class="right-content" style="width:100%">
							<table cellpadding="0" cellspacing="0" id="rsvrTab" style="width:100%">
								<tr class="thead">
									<td colspan="3">水库站超汛限/超警戒 <span class="nub-red" id="rsvrCounts"></span></td>
								</tr>
								<tr>
									<td>站名</td>
									<td>当前水位(m)</td>
									<td>汛限/警戒值</td>
								</tr>
								<!--
								<tr>
									<td>大封门水库</td>
									<td>23.84</td>
									<td class="nub-red">0.00</td>
								</tr>
								<tr>
									<td>流溪河水库</td>
									<td>149.01</td>
									<td class="nub-red">0.00</td>
								</tr>
								<tr>
									<td>乌涌</td>
									<td>111.30</td>
									<td class="nub-red">0.00</td>
								</tr>
								<tr>
									<td>三坑水库</td>
									<td>0.45</td>
									<td class="nub-red">10.00</td>
								</tr>
								-->
							</table>
							<div style="width: 96%;text-align: center;margin: 1% 2%;">
								<img src="img/pre.png" style="float: left;" onclick="paGing('rsvrTab','shang');" />
								<img src="img/next.png" style="float: right;" onclick="paGing('rsvrTab','xia');" />
							</div>
						</div>

					</div>
				</div>
				<div class="clear"></div>
				<div class="area-no">
					<!--雨情-->
					<div class="content-half">
						<h4>雨情</h4><span style="position: absolute;top: -15px;right: 20px;display: block;float: right;line-height: 30px;background-color: #000;"><a onclick="javascript:topNavigateTo('syq')" class="titleMore f12"  target="_blank" style="font-size: 15px;">更多</a></span>
						<div class="area-half">
							<!--
							<div style="text-align:center;margin-top: -10px;">
								<img class="yuqing" src="img/yuqing.png"/>
							</div>
							-->
							<p style="width:100%;height:100%;overflow:hidden">
									<iframe src="yq.html" style="overflow:hidden;width:100%;height:100%;padding:0;margin:0;" frameborder="0"></iframe>
							</p>
						</div>
					</div>

					<!--天气预报-->
					<div class="content-half" style="float: right;">
						<h4>天气预报</h4>
						<div class="area-half" id="tqyb">
							<div class="tqyb">
								<!--
								<p>广东省天气<span class="nub-green">3日08时-23日20时</span></p>
								<p>目前，广州市各区<span class="nub-green">多云</span>。预计<span class="nub-green">19-21时</span>，广州市各区<span class="nub-green">多云</span>，气温<span class="nub-green">14到18℃</span>，吹和缓的偏北风。</p>
								<p>预报员：高美谭</p>
								<p>发布时间：2017年11月23日18时50分</p>
								-->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--中-->
			<div class="center">
				<div class="hcst-map">
					<div class="zs-map">
						<span style="display: inline-block;width: 100%;height: 32px;background-color: #18588a;line-height: 32px;">黑臭水体</span>
						<span>总认定数<span class="nub-yellow" style="font-size: 40px;">187</span>条</span>
					</div>
				</div>
				<div style="width:100%;height:100%;">
					<iframe src="./homePageMap.html" frameborder="0" style="width:100%;height:100%"></iframe>
				</div>
				 <div style="width:200px;height:80px;position:absolute;bottom:20px;">
					<div style="font-size:20px;color:white">图例:</div>
					<div>
						<span style="font-size:20px;color:red">治理中</span>
						<span style="font-size:20px;color:white">/</span>
						<span style="font-size:20px;color:yellow">认定总数</span>
					</div>
				 </div>
			</div>
			<!--右-->
			<div class="right">
				<div class="area-no" style="margin-top: 0;">
					<div class="content-half">
						<h4>水质黑臭 </h4><span style="position: absolute;top:  -15px;right: 20px;display: block;float: right;line-height: 30px;background-color: #000;"><a onclick="javascript:topNavigateTo('sz')" class="titleMore f12"  target="_blank" style="font-size: 15px;">更多</a></span>
						<div class="area-half">
							<div id="szhc" style="float:left;width:100%;height:100%;margin-top: -10px;"></div>
						</div>
					</div>
					<div class="content-half" style="float: right;">
						<h4>水质</h4><span style="position: absolute;top: -15px;right: 20px;display: block;float: right;line-height: 30px;background-color: #000;"><a onclick="javascript:topNavigateTo('sz')"  class="titleMore f12"  target="_blank" style="font-size: 15px;">更多</a></span>
						<div class="area-half">
							<div class="river" id="hysz">
<!--
								<span>沙基涌<span class="dengji">劣V</span>
								</span>
								<table cellpadding="0" cellspacing="0">
									<tr>
										<td>检测时间：2017.10</td>
										<td>行政区：荔湾</td>
										</td>
									</tr>
									<tr>
										<td>DO：<span class="nub-green">3.28(mg/L)</span></td>
										<td>COD：<span class="nub-yellow">31(mg/L)</span></td>
									</tr>
									<tr>
										<td>NH3-N：<span class="nub-red">10.3(mg/L)</span></td>
										<td>TP：<span class="nub-red">0.83(mg/L)</span></td>
									</tr>
								</table>
								<span>沙基涌</span>
								<table cellpadding="0" cellspacing="0">
									<tr>
										<td>检测时间：2017.10</td>
										<td>行政区：荔湾</td>
										<td rowspan="3"><span class="dengji">劣V</span></td>
									</tr>
									<tr>
										<td>DO：<span class="nub-green">3.28(mg/L)</span></td>
										<td>COD：<span class="nub-yellow">31(mg/L)</span></td>
									</tr>
									<tr>
										<td>NH3-N：<span class="nub-red">10.3(mg/L)</span></td>
										<td>TP：<span class="nub-red">0.83(mg/L)</span></td>
									</tr>
								</table>
								<span>沙基涌</span>
								<table cellpadding="0" cellspacing="0">
									<tr>
										<td>检测时间：2017.10</td>
										<td>行政区：荔湾</td>
										<td rowspan="3"><span class="dengji">劣V</span></td>
									</tr>
									<tr>
										<td>DO：<span class="nub-green">3.28(mg/L)</span></td>
										<td>COD：<span class="nub-yellow">31(mg/L)</span></td>
									</tr>
									<tr>
										<td>NH3-N：<span class="nub-red">10.3(mg/L)</span></td>
										<td>TP：<span class="nub-red">0.83(mg/L)</span></td>
									</tr>
								</table>
-->
							</div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
				<div class="content-c">
					<h4 style="top:0px;">污水厂出水口 </h4><span style="position: absolute;top:relative;right: 20px;display: block;float: right;line-height: 30px;background-color: #000;"><a onclick="javascript:topNavigateTo('sz')" class="titleMore f12"  target="_blank" style="font-size: 15px;">更多</a></span>
					<div class="area-3-1">
						<div class="h-wsc">
							<div style="text-align: center;">
								<a href="#" class="active" onclick="switchFun('csk');" id="csk">出水口</a>
								<a href="#" onclick="switchFun('jsk');" id="jsk">入水口</a>
							</div>
							<table cellpadding="0" cellspacing="0" id="wqSinf">
								<tr align="center">
								  <td><span class="nub-green">名&nbsp;称&nbsp;</span></td>
					              <td><span class="nub-green">所&nbsp;在&nbsp;区&nbsp;域</span></td>
					              <td><span class="nub-green">监测时间</span></td>
					              <td><span class="nub-green">氨氮(mg/L)</span></td>
					              <td><span class="nub-green">总磷(mg/L)</span></td>
					              <td><span class="nub-green">总氮(mg/L)</span></td>
					              <td><span class="nub-green">PH</span></td>
					              <td><span class="nub-green">悬浮物(mg/L)</span></td>
					              <td><span class="nub-green">水流量(1/s)</span></td>
					              <td><span class="nub-green">CODcr (mg/L)</span></td>
								</tr>
								<!--
								<tr>
									<td>猎德</td>
									<td>2017-11-23 19:20</td>
									<td>1.48</td>
									<td>0.089</td>
									<td>7.43</td>
									<td>7</td>
									<td>5</td>
									<td>6205.5</td>
									<td>15.5</td>
									<td>15.5</td>
								</tr>
								-->
							</table>
							<div style="width: 96%;text-align: center;margin: 1% 2%;">
								<img src="img/pre.png" style="float: left;" onclick="paGing('wqSinf','shang');" />
								<img src="img/next.png" style="float: right;" onclick="paGing('wqSinf','xia');" />
							</div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
				<div class="content-c">
					<h4 style="top:0px;">排水设施</h4><span style="position: absolute;top: 0px;right: 20px;display: block;float: right;line-height: 30px;background-color: #000;"><a  onclick="javascript:topNavigateTo('psgw')" class="titleMore f12"  target="_blank" style="font-size: 15px;">更多</a></span>
					<div class="area-3-1">
						<div id="paishuiss" style="float:left;width:100%;height:100%;"></div>
					</div>
				</div>
			</div>
		</div>
	</body>
		<link type="text/css" rel="stylesheet" href="style.css" />
		<script src="js/echarts/jquery.min.js"></script>
		<script src="../../../lib/3rdparty/echarts3.8.4/echarts.common.min.js"></script>
		<script type="text/javascript" src="js/gzswythpt.js"></script>
		<script type="text/javascript" src="js/homePageChart.js"></script>
		<script type="text/javascript" src="js/psgwChart.js"></script>
		<script type="text/javascript" src="js/commons.js"></script>

	<script src="js/commons.js"></script>
	<script type="text/javascript">
			function dingweiToDetail(id){
				window.location.href="/awater/view/app/resourceContainer/resourceContainer.html";
				//window.location.href="http://127.0.0.1/awater?id="+id;
				//alert("1323243");
			}
		</script>
</html>