<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<script type="text/javascript" src="../../../lib/3rdparty/arcgis_js_api/dojoConfig.js"></script>
	<link rel="stylesheet" type="text/css" href="../../../lib/3rdparty/arcgis_js_api/dijit/themes/tundra/tundra.css"/>
	<link rel="stylesheet" type="text/css" href="../../../lib/3rdparty/arcgis_js_api/esri/css/esri.css" />
	<script type="text/javascript" src="../../../lib/3rdparty/arcgis_js_api/init.js"></script>
	<style>
		html,body
		{
			width:100%;
			height:100%;
			padding:0;
			margin:0;
			overflow:hidden;
		}
	</style>
	<script type="text/javascript">
        require(["esri/map","esri/geometry/Extent","esri/layers/ArcGISDynamicMapServiceLayer"]);
        require(["dojo/ready"], function (ready) {
            ready(function () {
                initMap();
            });
        });

        var map,gl,font,picSymbol,fgxTs;
        function initMap() {
            map = new esri.Map("mapDiv", {
                extent:new esri.geometry.Extent(6450.858411207,-34186.526489258,118525.529388793,118812.237285064),
                logo:false,slider:false});
            var layer = new esri.layers.ArcGISDynamicMapServiceLayer("http://10.194.170.75/arcgis/rest/services/basemap/DP_basemap/MapServer");
            map.addLayer(layer);
            gl = new esri.layers.GraphicsLayer();
            map.addLayer(gl);
            map.on("load", loadHandler);
//            map.on("click", clickHandler);
            font  = new esri.symbol.Font();
            font.setSize("18px");
            font.setWeight(esri.symbol.Font.WEIGHT_BOLD);
            picSymbol = new esri.symbol.PictureMarkerSymbol();
            picSymbol.setUrl("./img/blueCircle.png");
            picSymbol.setWidth(64);
            picSymbol.setHeight(64);
            fgxTs=new esri.symbol.TextSymbol();
            fgxTs.setFont(font);
            fgxTs.setColor(new esri.Color([255,255,255,1]));
            fgxTs.setText("/");
            fgxTs.setOffset(0,-20);
        }

        function getXZQTS(name){
            var xzqTs=new esri.symbol.TextSymbol();
            xzqTs.setFont(font);
            xzqTs.setColor(new esri.Color([255,255,255,1]));
            xzqTs.setText(name);
            return xzqTs
		}

		function getZLZ(value){
            var ts=new esri.symbol.TextSymbol();
            ts.setFont(font);
            ts.setText(value);
            ts.setOffset(0, -20);
            ts.setColor(new esri.Color([255,0,0,1]));
            return ts
		}

        function getRDZS(value){
            var ts=new esri.symbol.TextSymbol();
            ts.setFont(font);
            ts.setText(value);
            ts.setOffset(10, -20);
            ts.setColor(new esri.Color([255,255,0,1]));
            return ts
        }

        function clickHandler(e){
            alert(e.mapPoint.x+","+e.mapPoint.y);
		}




        var rqJSON = [
            {xzq: "从化区", zlz: "0", rdzs: "0", x: "69943.97122098219", y: "76252.17507779065"},
            {xzq: "花都区", zlz: "-", rdzs: "13", x: "34373.70025212965", y: "65534.49517887877"},
            {xzq: "增城区", zlz: "-", rdzs: "80", x: "86719.47019319208", y: "51399.58400785003"},
            {xzq: "黄埔区", zlz: "-", rdzs: "20", x: "60934.90695812869", y: "36332.700671698534"},
            {xzq: "白云区", zlz: "-", rdzs: "37", x: "44470.06537429303", y: "49846.29706597875"},
            {xzq: "海珠区", zlz: "-", rdzs: "15", x: "45712.69492779007", y: "22197.789500669794"},
            {xzq: "荔湾区", zlz: "-", rdzs: "30", x: "30335.154203264304", y: "23129.76166579257"},
            {xzq: "越秀区", zlz: "-", rdzs: "2", x: "37635.60283005936", y: "29342.90943327773"},
            {xzq: "天河区", zlz: "-", rdzs: "30", x: "48663.940117345526", y: "35245.39981238863"},
            {xzq: "番禺区", zlz: "-", rdzs: "49", x: "50993.870530152446", y: "10858.79482500939"},
            {xzq: "南沙区", zlz: "0", rdzs: "0", x: "59226.291322070276", y: "-5916.704147200537"}];
         function loadHandler(){
             for(var i=0;i<rqJSON.length;i++){
                 var item=rqJSON[i];
                 //添加背景图片
                 var position=new esri.geometry.Point(item.x,item.y);
                 var pic = new esri.Graphic(position, picSymbol);
                 gl.add(pic);
                 //添加行政区文字
                 var xzq = new esri.Graphic(position, getXZQTS(item.xzq));
                 gl.add(xzq);
                 //添加处理中文字
				 var zlzTs=getZLZ(item.zlz);
                 var zlz = new esri.Graphic(position,zlzTs);
                 gl.add(zlz);
                 if(item.rdzs>0){
                     var fgx = new esri.Graphic(position, fgxTs);
                     gl.add(fgx);
                     zlzTs.setOffset(-10,-17);
                     var rdzs=new esri.Graphic(position,getRDZS(item.rdzs));
                     gl.add(rdzs);
				 }
			 }
         }
	</script>
</head>
<body>
<div id="mapDiv" style="width:100%; height:100%;"></div>
</body>
</html>
