<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>排水管网</title>
		<link type="text/css" rel="stylesheet" href="style.css" />
		<script src="../../../lib/3rdparty/echarts3.8.4/echarts.common.min.js"></script>
		<script src="../../../view/app/homePage/jsLib/jquery-1.7.2.min.js"></script>
		<script src="js/psgwChart.js"></script>
		<script src="js/commons.js"></script>
	</head>

	<body onload="initCharts()">

		<!--标题-->
		<div class="title">
			<img src="img/title_psgw.png" />
		</div>

		<div class="main">
			<div class="top">
				<div class="area-3" style="overflow:hidden" >
					<h2 id="zcd" style="margin-top: 10px;">
						<!--
						广州市管网总长度
						<span class="zongshu">9</span>
						<span class="zongshu">8</span>
						<span class="zongshu">7</span>  
						<span class="zongshu">0</span> 
						<span class="zongshu">.</span>
						<span class="zongshu">2</span>
						<span class="zongshu">4</span>  
						<span class="zongshu">1</span>  
						km
						-->
					</h2>
					<div id="gwzcd" style="margin-top:-30px;width: 100%;height:100%"></div>

				</div>

				<div class="content-4">
					<h4>按总量统计</h4>
					<div class="area-4">
						<div id="zltj" style="width: 100%;height: 100%"></div>
					</div>
				</div>

				<div class="content-4">
					<h4>按密度统计</h4>
					<div class="area-4">
						<div id="mdtj" style="width:100%;height:100%;"></div>
					</div>
				</div>
			</div>

			<div class="clear"></div>

			<div class="bottom">
				<div class="content-5">
					<h4>按行政区统计</h4>
					<div class="area-5">
						<div id="xzqtj" style="width:100%;height:100%;"></div>
					</div>
				</div>
			</div>

		</div>

	</body>

</html>