<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="text/javascript" src="../../../lib/3rdparty/arcgis_js_api/dojoConfig.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../lib/3rdparty/arcgis_js_api/dijit/themes/tundra/tundra.css"/>
    <link rel="stylesheet" type="text/css" href="../../../lib/3rdparty/arcgis_js_api/esri/css/esri.css"/>
    <script type="text/javascript" src="../../../lib/3rdparty/arcgis_js_api/init.js"></script>
 	<script type="text/javascript" src="../../../lib/3rdparty/layer/layer.js"></script>
    <script type="text/javascript" src="../../../lib/3rdparty/jquery/jquery/jquery-1.9.1.min.js"></script>

    <style>
        html, body {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            overflow: hidden;
        }

        .esriLegendServiceLabel{
            display:none;
        }
        .esriLegendLayerLabel{
            display:block;
        }
    </style>
     <script>
        var map;

        require([
            "esri/map", "esri/geometry/Point", "esri/SpatialReference",
            "esri/symbols/SimpleMarkerSymbol", "esri/graphic","esri/layers/ArcGISDynamicMapServiceLayer"
        ], function(Map, Point, SpatialReference, SimpleMarkerSymbol, Graphic,ArcGISDynamicMapServiceLayer) {
        	 map = new esri.Map("mapDiv", {
                 extent:new esri.geometry.Extent(6450.858411207,-34186.526489258,118525.529388793,118812.237285064,new esri.SpatialReference({wkid:2435})),
                 logo: false, slider: false});
            var layer = new esri.layers.ArcGISDynamicMapServiceLayer("http://10.194.170.75/arcgis/rest/services/basemap/DP_basemap_sw/MapServer");
            map.addLayer(layer);
            var dynlayer2 = new esri.layers.ArcGISDynamicMapServiceLayer("http://10.194.170.75/arcgis/rest/services/thematic/thematic_iptstation/MapServer");
            map.addLayer(dynlayer2);
            map.on("load", function () {//加载超汛,超警戒的点
            	//ShowLocation();
                map.disablePan();
                map.disableDoubleClickZoom();
                map.disableScrollWheelZoom();
            }); 
            function ShowLocation() {
            	//水库超汛点地图展示
                $.ajax({
                    url : "/awater/subject/getStRsvrList",
                    type:"post",
                    dataType :"json",
                    success:function(datas){
                    	var	rsvrList = datas.list;
                    	 for(var i=0;i<rsvrList.length;i++){
                    		//addPoint(rsvrList[i]);
                    	 }
                    },
                    error:function(){
                   	 layer.msg('获取数据失败...', { time: 1000 });
                    }
                });
              //江河超警戒地图展示
                $.ajax({
                    url : "/awater/subject/getStRiverList",
                    type:"post",
                    dataType :"json",
                    success:function(datas){
                    	var	rsvrList = datas.list;
                    	 for(var i=0;i<rsvrList.length;i++){
                    		//addPoint(rsvrList[i]);
                    	 }
                    },
                    error:function(){
                   	 layer.msg('获取数据失败...', { time: 1000 });
                    }
                });
            };
            function addPoint(data){
            	 var point = new Point(data.x,data.y, new SpatialReference({wkid:2435}));
                 var simpleMarkerSymbol = new SimpleMarkerSymbol();
                 var graphic = new Graphic(point, simpleMarkerSymbol);
                 map.graphics.add(graphic);
            }
        });
    </script>
</head>
<body>
<div  style="color:white;position: absolute;bottom:0px;left:0px;width:400px;height:150px;z-index:99999">
    <div id="legendDiv"></div>
</div>
<div id="mapDiv" style="width:100%; height:100%;"></div>
</body>
</html>