/*------body-----------*/
.app-body-container-spe{background-color:#E4393C}
/*------panal----------*/
.app-panal-spe{background-color:#E24A48;}
.app-panal-head-spe{background-color:#E4393C;}
.app-panal-background-spe{background-color:#E24A48;}
/*------box------------*/
.app-box-head-spe{background-color:#E4393C;}
.app-box-content-spe{background-color:#E24A48;}
/*------tabs-----------*/
.app-tabs .app-tabs-item-active-spe{border-bottom:1px solid #E24A48;}
/*------menu-----------*/
.app-menu-spe{background-color:#E24A48;}