/*----------login-----------*/
.login-form-container-spe{background-color:#E4393C}
.login-form-spe{background-color:#8B0000}

/*----------desktop----------*/
.desktop-head-spe{background-color:#E4393C;}
.desktop-tool-spe{background-color:#E4393C;}
.desktop-clock-spe{border-color:#E4393C;}
.desktop-panal-list-spe{background-color:#E4393C;}
.desktop-panal-item-spe{background-color:#E4393C;}
