/*------body-----------*/
.app-body-container-spe{background-color:#458048}
/*------panal----------*/
.app-panal-spe{background-color:#578C59;}
.app-panal-head-spe{background-color:#458048;}
.app-panal-background-spe{background-color:#578C59;}
/*------box------------*/
.app-box-head-spe{background-color:#458048;}
.app-box-content-spe{background-color:#578C59;}
/*------tabs-----------*/
.app-tabs .app-tabs-item-active-spe{border-bottom:1px solid #578C59;}
/*------menu-----------*/
.app-menu-spe{background-color:#578C59;}