<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<style>
html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
</style>
<script>
    	function init(){
    		document.getElementById("frame").src=getUrlValue(location.href,"url");
    		document.getElementById("frame").pixelHeight=document.getElementById("frame").pixelHeight+40
    	}
    	
  
	function getUrlValue(url, name) {
		var reg = new RegExp(name + "=([^&]*)");
		try {
			return decodeURI(reg.exec(url)[1]);
		} catch (e) {
			return "";
		}
	}
</script>
</head>
<body onload="init()">
 	<iframe id="frame"  style="position:absolute;top:-42px;width:100%;height:100%;" 
  		frameborder="0"></iframe>  
</body>
</html>
