/* 首页业务系统中心样式控制 */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* 首页编辑业务系统菜单 */
#password-edit-container .form-item { width: 100%; float: left; height: 68px; line-height: 34px; position: relative; }
#password-edit-container .input-block { width: 450px; position: relative; float: left; }
#password-edit-container .form-label { float: left; width: 150px; text-align: right; font-size: 14px; color: #666; padding-right: 10px; }
#password-edit-container .txt03 { width: 350px; height: 32px; line-height: 16px; padding: 9px 10px; border: 1px solid #cccccc; float: none; font-size: 14px; font-family: arial,"宋体"; color: #999; overflow: hidden; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }

#sys-center-container {
    padding: 40px 0 0 40px;
}

#sys-center-container a:hover {
    color: #F60;
    text-decoration: underline;
}

#sys-center-container .sys-center-search {
    color: #000000;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    margin-bottom: 30px;
}

#sys-center-container ul {
    list-style: none;
}

#sys-center-container ul li {
    float: left;
    margin-bottom: 16px;
}

#sys-center-container .iconContainer {
    float: left;
}

span.invalid-msg {
    font-size: 12px;
    color: #f55;
}

#sys-center-container table {
    width: 250px;
    float: left;
    font-size: 12px;
    margin-left: 16px;
}

#sys-center-container table tr {
    line-height: 2.0;
}

#sys-center-container table tr span.span-warning {
    color: #f55;
}

#sys-center-container table button {
    padding: 3px 10px;
}