.choose-recievers-container {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul {
	padding: 0;
	margin: 0;
}

.choose-recievers-container input {
	padding: 3px;
}

.sms-recievers-search {
	padding: 10px 20px;
}

.choose-recievers-container .recievers-title {
	font-weight: bold;
	border-bottom: 1px solid #dadada;
	background-color: #ddd;
	padding-left: 8px;
}

.org-recievers {
	margin-left: 20px;
	float: left;
	width: 450px;
	height: 345px;
	border: 1px solid #dadada;
}

#org-tree {
	width: 100%;
	max-height: 322px;
	overflow: auto;
}

.choose-btns {
	float: left;
	width: 100px;
	height: 345px;
	position: relative;
}

.choose-btns .btns-ul {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 62px;
	height: 180px;
	margin-left: -31px;
	margin-top: -90px;
	list-style: none;
}

.choose-btns .btns-ul li {
	margin-bottom: 15px;
}

.recievers {
	float: right;
	margin-right: 20px;
	width: 208px;
	height: 345px;
	border: 1px solid #dadada;
	overflow: hidden;
}

#recievers-ul {
	width: 100%;
	max-height: 322px;
	overflow: auto;
	font-size: 12px;
}

#recievers-ul li {
	padding: 3px 10px;
	cursor: pointer;
}

#recievers-ul li:hover {
	background: #ccc;
}

.reciever-selected {
	background: #0d8ddb;
	color: #fff;
}