/*------body-----------*/
.app-body-container-spe{background-color:#1B587F}
/*------panal----------*/
.app-panal-spe{background-color:#31688A;}
.app-panal-head-spe{background-color:#1B587F;}
.app-panal-background-spe{background-color:#31688A;}
/*------box------------*/
.app-box-head-spe{background-color:#1B587F;}
.app-box-content-spe{background-color:#31688A;}
/*------tabs-----------*/
.app-tabs .app-tabs-item-active-spe{border-bottom:1px solid #31688A;}
/*------menu-----------*/
.app-menu-spe{background-color:#31688A;}
/*------menuX-----------*/
.app-menuX-spe{background-color:#31688A;}
.app-menuX-first .app-menuX-item-spe:hover{background-color:#0F3E5A;}
.app-menuX-first .app-menuX-item-subMenu-spe:hover{background-color:#0F3E5A;}
/*------menuY-----------*/
.app-menuY-spe{background-color:#31688A;}
.app-menuY .app-menuY-item-spe:hover{background-color:#0F3E5A;}
/*------multinav-----------*/
.app-nav-multiY-head-spe{background-color:#1B587F;}
/*------commonnav-----------*/
.app-nav-common-head-spe{background-color:#31688A;}
.app-nav-common-container-spe{background-color:#31688A;}
.app-nav-common-click-spe{background-color:#fc8f90;}
/*------popup----------*/
.app-popup-head-spe{background-color:#31688A;}
.app-popup-content-container-spe{background-color:#31688A;}
