/*----------login-----------*/
.login-form-container-spe{background-color:#1B587F}
.login-form-spe{background-color:#1F1E23}

/*----------desktop----------*/
.desktop-head-spe{background-color:#1B587F;}
.desktop-tool-spe{background-color:#1B587F;}
.desktop-clock-spe{border-color:#1B587F;}
.desktop-panal-list-spe{background-color:#1B587F;}
.desktop-panal-item-spe{background-color:#1B587F;}

/*----------nav----------*/
.desktop-nav-group-hover-spe{background-color:#1B587F;}
.desktop-nav-group-clicked-spe{background-color:#0F3E5A;}

/*----------recbox----------*/
.bizbase-recbox-list-menu-spe{background-color:#1b587f;}
.bizbase-recbox-list-fieldsetting-content-panetitle-spe{background-color:#1b587f;}