<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>平台公告</title>
    <link href="../../lib/3rdparty/jquery-easyui/themes/gray/easyui.css" rel="stylesheet" type="text/css"/>
    <link href="../../lib/3rdparty/jquery-easyui/themes/icon.css" rel="stylesheet" type="text/css"/>
    <link href="../../lib/3rdparty/ueditor1.4.3/themes/default/css/ueditor.css" rel="stylesheet" type="text/css"/>
	<link href="platformNotice/css/release.css" type="text/css" rel="stylesheet">
   	<script src="../../lib/3rdparty/jquery-easyui/jquery.min.js" type="text/javascript"></script>
    <script src="../../lib/3rdparty/jquery-easyui/jquery.easyui.min.js" type="text/javascript"></script>
    <script src="../../lib/3rdparty/jquery-easyui/locale/easyui-lang-zh_CN.js" type="text/javascript"></script>
    <script src="../../lib/3rdparty/jquery-easyui/jquery.form.js" type="text/javascript"></script>
    <script type="text/javascript" src="../../lib/3rdparty/layer/layer.js"></script>
    <script type="text/javascript" src="../../lib/3rdparty/jquery/ajaxupload/ajaxupload.js"></script>
    <script type="text/javascript" src="../../lib/3rdparty/ueditor1.4.3/ueditor.config.js"></script>
    <script type="text/javascript" src="../../lib/3rdparty/ueditor1.4.3/ueditor.all.js"></script>
    <script type="text/javascript" src="../../lib/3rdparty/ueditor1.4.3/lang/zh-cn/zh-cn.js"></script>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            overflow: hidden;
        }
        textarea{
            overflow:hidden;
        }

		ul li {
			list-style: none;
		}

		a {
			text-decoration: none;
			cursor: pointer;
		}

		a:hover {
			text-decoration: underline;
			color: #F60;
		}
    </style>
    <script type="text/javascript">
	function openNoticeDetailPage(value, row, index) {
		if(row.isTop === '1') {
			value = '<font style="color: #F60;">[置顶]&nbsp;' + value + '</font>';
		}

		// 如果通知公告是保存状态，点击直接弹出通知公告的编辑界面
		if(row.isSend == 0) {
			return '<a href="javascript:void(0);" onclick="openRetainedNoticePage(\'' + row.id + '\')">' + value + '</a>';
		}

		return '<a href=noticeDetail.html?id=' + row.id + ' target="_blank">' + value + '</a>';
	}

	function openRetainedNoticePage(id) {
		// 重置内容
		$("#fileIds").val('');
		$("#upload_file_ul").html('');
		$("#orgIds").val('');
		$("#orgNames").val('');
		UE.getEditor('editor').setContent('');

		$.ajax({
			url: "/agsupport/platformNotice/findById",
			type:"POST",
			data: { id: id },
			dataType:"json",
			success: function (data) {
				$('#keyWord').val(data.keyWord || '');
				UE.getEditor('editor').execCommand('insertHtml', data.content);
				$('input[name="topDate"][value=' + data.topDate + ']').attr("checked", true);
				$('input[name="isSend"][value=' + data.isSend + ']').attr("checked", true);
				$('input[name="emergencyLvl"][value=' + data.emergencyLvl + ']').attr("checked", true);
				var liHtmlContent = '';
				var fileIds = '';
				for(var j=0; j<data.fileInfos.length; j++) {
					if(j != 0) {
						fileIds += ',';
					}
					fileIds += data.fileInfos[j].id;
					liHtmlContent += ''
						+ '<li style="text-align: left;" id=\"' + data.fileInfos[j].id + '\">'
						+ '<span style="padding-left: 10px; max-width: 60%;">' + data.fileInfos[j].originalFilename + '</span>'
						+ '<span style="padding-left: 10px;">' + data.fileInfos[j].fileSize + '</span>'
						+ '<span style="padding-left: 10px;"><a href="javascript:void(0);" onclick="removeFile(\'' + data.fileInfos[j].id +  '\')">删除</a></span>'
						+ '</li>';
				}
				$("#fileIds").val(fileIds);
				$("#upload_file_ul").append(liHtmlContent);

				var orgIds = '', orgNames = '';
				for(var i=0; i<data.orgs.length; i++) {
					if(i != 0) {
						orgIds += ',';
						orgNames += ',';
					}
					orgIds += data.orgs[i].orgCode;
					orgNames += data.orgs[i].name;
				}

				$("#orgIds").val(orgIds);
				$("#orgNames").val(orgNames);

				$('#chanEdit_div').show();
				$('#chanEdit_div').dialog('open').dialog('setTitle', '编辑');
				$('#chanEdit_div').form('load', data);
			}
		});
	}

	function getSenderUserName(value, row, index) {
		if(!row.sender) {
			return "";
		}

		return row.sender.userName;
	}

	function getSenderOrgNames(value, row, index) {
		var retOrgNames = '';
		for(var i=0; i<row.senderOrgs.length; i++) {
			if(i != 0) {
				retOrgNames += '、';
			}
			retOrgNames += row.senderOrgs[i].name;
		}

		return retOrgNames;
	};

	function getEmergencyLvlInfo(value, row, index) {
		var emergencyLvlAry = ['<font style="color: green;">低</font>', '<font style="color: #F60;">中</font>', '<font style="color: red;">高</font>'];
		return emergencyLvlAry[value] || '';
	};

	function getSendInfo(value, row, index) {
		var emergencyLvlAry = ['<font style="color: #F60;">已保存</font>', '<font style="color: green;">已发布</font>'];
		return emergencyLvlAry[value] || '';
	};

    $(function(){
		var userName = top.loginName;

		$("#publishDg").datagrid({
			url : '/agsupport/platformNotice/list',
			method: 'post',
			queryParams: {
				isManagePage: true,
				loginName: userName
			},
			pagination:true,
			loadMsg : '数据装载中......',
			rownumbers : false,// 行号
			singleSelect:false,
			pageSize: 20,
			nowrap:false,
			//idField:'id', // 加上这条配置，会导致datagrid('getSelections')返回之前的记录
			columns : [[{
				field:'ck',
				checkbox : true
			},
			{
				field:'title',
				title : '通知公告标题',
				width:'20%',
				align:'left',
				formatter: openNoticeDetailPage
			}, {
				field:'keyWord',
				title : '通知公告关键字',
				width:'14%',
				align:'center'
			}, {
				field:'emergencyLvl',
				title : '紧急程度',
				width:'10%',
				align:'center',
				formatter: getEmergencyLvlInfo
			}, {
				field:'userName',
				title : '创建者',
				width:'15%',
				align:'center',
				formatter: getSenderUserName
			}, {
				field:'orgNames',
				title : '创建者所在单位',
				width:'16%',
				align:'center',
				formatter: getSenderOrgNames
			}, {
				field :'noticeTime',
				title : '发布时间',
				width:'12%',
				align:'center'
			},{
				field:'isSend',
				title : '通知公告状态',
				width:'10%',
				align:'center',
				formatter: getSendInfo
			}, {
				field:'id',
				hidden:true
			}, {
				field:'searchText',
				hidden:true
			}, {
				field:'isTop',
				hidden:true
			}, {
				field:'topDate',
				hidden:true
			}]],
			toolbar: [{
				text: '新增',
				iconCls: 'icon-add',
				handler: function () {
					// 初始化表单中的内容
					$("#fileIds").val('');
					$("#upload_file_ul").html('');
					$("#orgIds").val('');
					$("#orgNames").val('');
					$('#keyWord').val('');
					$('#publishTitle').val('');
					UE.getEditor('editor').setContent('');
					//$('#publishContent').val('');
					$("input[name='topDate']")[0].checked = true;
					$("input[name='emergencyLvl']")[0].checked = true;

					$('#chanEdit_div').dialog('open').dialog('setTitle','新增通知公告');
					$("#chanEdit_div").dialog('open');
				}
			},
			{
				text: '修改',
				iconCls: 'icon-edit',
				handler: updateNotice
			},
			{
				text: '删除',
				iconCls: 'icon-remove',
				handler: deleteNotice
			}]
		});

		// 绑定点击事件
		$("#org-choose-btn").bind('click', function() {
			layer.open({
				title: ["发布范围", 'text-align: left;'],
				type: 2,
				btn: '提交',
				content: '/awater/view/desktop/chooseOrgs.html',
				btn: ['确定', '取消'],
				btnAlign: 'c',
				shade: 0,
				area:["800px", "500px"],
				yes: function(index, ct) {
					var result = $(ct).find('iframe')[0].contentWindow.callbackdata();

					if(result) {
						$("#orgIds").val(result.orgIds);
						$("#orgNames").val(result.orgNames);
					}

					layer.close(index);
				},
				success:function (ct,index) {

				}
			});
		});

		$('#publishForm').form({
			url: "/agsupport/platformNotice/save?loginName=" + top.loginName,
			dataType : 'text',
			onSubmit:function(param){
				param.content = UE.getEditor('editor').getContent();

				if($('#isSend').val() == 1 && !$.trim($("#publishTitle").val())) {
					$.messager.alert('提示','通知公告标题不能为空', "warning");
					return false;
				}

				if($('#isSend').val() == 1 && !$.trim(UE.getEditor('editor').getPlainTxt())) {
					$.messager.alert('提示','通知公告内容不能为空', "warning");
					return false;
				}

				if($('#isSend').val() == 1 && !$.trim($("#orgNames").val())) {
					$.messager.alert('提示','通知公告可见范围不能为空', "warning");
					return false;
				}

				return $(this).form('validate');
			},
			success:function(data) {
				data = $.parseJSON(data);
				if(data.success){
					$.messager.alert('提示','操作成功', "info");

					// 关闭发布公告弹出对话框
					$('#chanEdit_div').dialog('close');
					$('#publishDg').datagrid('reload');
				}else{
					$.messager.alert('提示','操作失败', "error");
				}
			}
		});

		// 附件上传模块初始化
		var options = {
			action: "/agsupport/upload/files/2",
			responseType: "json",
			name: 'file',
			inputFileId: 'releaseNoticeFile',
			onSubmit: function (files, extensions, sizes) {
				for(var i=0; i<sizes.length; i++) {
					if(sizes[i] > 104857600) {// 文件大于100M，取消上传
						layer.alert('上传的文件不能大于100M', {icon: 2});
						return false;
					}
				}
			},
			onComplete: function (file, data) {
				// 上传成功
				if(data && data.length > 0) {
					var liHtmlContent;
					$(data).each(function(index, fileInfo) {
						var fileIds = $("#fileIds").val() || '';
						if(!fileIds) {
							fileIds = fileInfo.id;
						} else {
							fileIds += ',' + fileInfo.id;
						}

						$("#fileIds").val(fileIds);

						liHtmlContent = ''
							+ '<li style="text-align: left;" id=\"' + fileInfo.id + '\">'
							+ '<span style="padding-left: 10px; max-width: 60%;">' + fileInfo.originalFilename + '</span>'
							+ '<span style="padding-left: 10px;">' + fileInfo.fileSize + '</span>'
							+ '<span style="padding-left: 10px;"><a href="javascript:void(0);" onclick="removeFile(\'' + fileInfo.id +  '\')">删除</a></span>'
							+ '</li>';
						$("#upload_file_ul").append(liHtmlContent);
					});
				}
			},
			onChange: function (file, extension) {

			}
		};
		new AjaxUpload($("#file_choose_btn"), options);

		// 富文本模块初始化
		var ue = UE.getEditor('editor');

    });

	function deleteNotice() {
		var rows = $("#publishDg").datagrid('getSelections');
		if(rows.length <= 0){
			$.messager.alert('提示','请选择要修改的项','warning');
			return;
		}
		$.messager.confirm('确认', '确定删除选中的公告？', function (r) {
			if (r) {
				var ids = '';
				for (var i = 0; i < rows.length; i++) {
					if (i != 0) {
						ids += ',';
					}
					ids += rows[i].id;
				}

				if (rows) {
					$.ajax({
						url: "/agsupport/platformNotice/remove",
						type: "post",
						data: "ids=" + ids,
						dataType: 'json',
						success: function () {
							$.messager.alert('提示', '删除成功！', 'info');
							$('#publishDg').datagrid('reload');
						},
						error: function () {
							$.messager.alert('提示', '删除失败！', 'warning');
						}
					});
				} else {
					$.messager.alert('提示', '请选择要删除的公告！', 'warning');
				}
			}
		});

	}

	function updateNotice() {
		var allRows = $('#publishDg').datagrid('getSelections');
		if(allRows.length <= 0) {
			$.messager.alert('提示','请选择要修改的项！','warning');
			return;
		} else if(allRows.length > 1){
			$.messager.alert('提示','请选择最多只能一项进行修改！','warning');
			return;
		} else {
			var row = $('#publishDg').datagrid('getSelected');
			if (row) {
				// 重置内容
				$("#fileIds").val('');
				$("#upload_file_ul").html('');
				$("#orgIds").val('');
				$("#orgNames").val('');
				$('#keyWord').val(row.keyWord || '');
				UE.getEditor('editor').setContent('');
				UE.getEditor('editor').execCommand('insertHtml', row.content);
				$('input[name="topDate"][value=' + row.topDate + ']').attr("checked", true);
				$('input[name="isSend"][value=' +row.isSend + ']').attr("checked", true);
				$('input[name="emergencyLvl"][value=' +row.emergencyLvl + ']').attr("checked", true);
				var liHtmlContent = '';
				var fileIds = '';
				for(var j=0; j<row.fileInfos.length; j++) {
					if(j != 0) {
						fileIds += ',';
					}
					fileIds += row.fileInfos[j].id;
					liHtmlContent += ''
						+ '<li style="text-align: left;" id=\"' + row.fileInfos[j].id + '\">'
						+ '<span style="padding-left: 10px; max-width: 60%;">' + row.fileInfos[j].originalFilename + '</span>'
						+ '<span style="padding-left: 10px;">' + row.fileInfos[j].fileSize + '</span>'
						+ '<span style="padding-left: 10px;"><a href="javascript:void(0);" onclick="removeFile(\'' + row.fileInfos[j].id +  '\')">删除</a></span>'
						+ '</li>';
				}
				$("#fileIds").val(fileIds);
				$("#upload_file_ul").append(liHtmlContent);

				var orgIds = '', orgNames = '';
				for(var i=0; i<row.orgs.length; i++) {
					if(i != 0) {
						orgIds += ',';
						orgNames += ',';
					}
					orgIds += row.orgs[i].orgCode;
					orgNames += row.orgs[i].name;
				}

				$("#orgIds").val(orgIds);
				$("#orgNames").val(orgNames);

				$('#chanEdit_div').show();
				$('#chanEdit_div').dialog('open').dialog('setTitle', '发送保存通知公告');
				$('#chanEdit_div').form('load',row);
			}
		}
	}

	function search() {
		$('#publishDg').datagrid('load', {searchText:$("#searchTx").val(), loginName: top.loginName, isManagePage: true});
	}

	function removeFile(elmentLiId) {
		$("#" + elmentLiId).remove();

		// 更新fileIds里面的内容
		var fileIds = $("#fileIds").val().split(",");
		var newFileIds = '';
		var isFirstTime = true;
		for(var i=0; i<fileIds.length; i++) {
			if(elmentLiId != fileIds[i]) {
				if(isFirstTime) {
					isFirstTime = false;
				} else {
					newFileIds += ',';
				}

				newFileIds += fileIds[i];
			}
		}

		$("#fileIds").val(newFileIds);
	}
    </script>
</head>
<body>
<div class="easyui-layout" style="width:100%;height:100%">
    <div data-options="region:'north',collapsible:false" style="height:50px">
        <div style="margin-top:8px;margin-left:20px">
            <input class="easyui-textbox" id="searchTx" data-options="onClickButton:search,buttonIcon:'icon-search',buttonAlign:'right',buttonText:'查询',prompt:'请输入要搜索的内容'"
                   style="width:400px;height:30px">
        </div>
    </div>
    <div data-options="region:'center',split:true" style="height:50px;">
        <table id="publishDg" class="easyui-datagrid" style="width:100%;height:100%" >
        </table>
    </div>
    <div id="chanEdit_div" class="easyui-dialog"
 		style="width:88%;height:470px;padding:10px 20px;display: none;"
        data-options="closed:true,buttons:'#chanEdit_button',modal:true,top:10">
		<div id="notice-container">
			<form id="publishForm" enctype="multipart/form-data" method="post">
				<input type="hidden" name="id" />
				<input type="hidden" name="isSend" id="isSend" />
				<table cellspacing="0">
					<tbody>
					<tr>
						<td width="25%"><b>通知公告标题</b><span style="color:red">*</span></td>
						<td style="width:75%;height:35px"><input type="text" id="publishTitle" name="title" /></td>
					</tr>
					<tr>
						<td width="25%"><b>通知公告内容</b><span style="color:red">*</span></td>
						<td style="width:75%;padding: 0;">
							<div style="box-sizing: border-box; overflow-x: hidden; position: relative;"><script id="editor" type="text/plain" style="width:inherit;height:300px;"></script></div>
						</td>
					</tr>
					<tr>
						<td width="25%"><b>关键字</b></td>
						<td style="width:75%;height:35px"><input type="text" id="keyWord" name="keyWord" data-options="multiline:true" /></td>
					</tr>
					<tr>
						<td width="25%"><b>紧急程度</b></td>
						<td style="width:75%; height:35px">
							<input type="radio" name="emergencyLvl" value="0">&nbsp;低
							<span class="space-indent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
							<input type="radio" checked="true" name="emergencyLvl" value="1">&nbsp;中
							<span class="space-indent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
							<input type="radio" checked="true" name="emergencyLvl" value="2">&nbsp;高
						</td>
					</tr>
					<tr>
						<td width="25%"><b>是否置顶</b></td>
						<td style="width:75%; height:35px">
							<input type="radio" name="topDate" value="0">&nbsp;不置顶
							<span class="space-indent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
							<input type="radio" name="topDate" value="1">&nbsp;置顶1天
							<span class="space-indent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
							<input type="radio" name="topDate" value="3">&nbsp;置顶3天
							<span class="space-indent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
							<input type="radio" name="topDate" value="7">&nbsp;置顶7天
						</td>
					</tr>
					<tr>
						<td width="25%">
							<b>上传附件</b>
							<div style="margin-top: 2px;">
								（<a id="file_choose_btn" style="color: red; cursor: pointer; font-size: 12px;">点此选择附件</a>）
							</div>
						</td>
						<td style="width:75%;height:35px">
							<input type="hidden" id="fileIds" name="fileIds" />
							<ul id="upload_file_ul">

							</ul>
						</td>
					</tr>
					<tr>
						<td width="25%">
							<b>通知公告可见范围</b><span style="color:red">*</span>
							<div style="margin-top: 2px;">
								（<a id="org-choose-btn" style="color: red; cursor: pointer; font-size: 13px;">点此选择可见范围</a>）
							</div>
						</td>
						<td style="width:75%;height:35px">
							<input type="text" id="orgNames" name="orgNames" data-options="multiline:true" readonly="readonly" />
							<input type="hidden" id="orgIds" name="orgIds" />
						</td>
					</tr>
					</tbody>
				</table>

				<div id="chanEdit_button" style="text-align: center;">
					<button type="submit" onclick="javascript:$('#isSend').val('1'); $('#publishForm').submit();" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" style="width:90px">发布</button>
					<button type="submit" onclick="javascript:$('#isSend').val('0'); $('#publishForm').submit();" class="easyui-linkbutton" data-options="iconCls:'icon-save'" style="width:90px">保存</button>
					<button class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="javascript:$('#chanEdit_div').dialog('close')" style="width:90px">取消</button>
				</div>
			</form>
		</div>

	</div>
</div>
</body>
</html>
