<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>广州水务公共信息平台</title>
    <link href="css/sysCenter.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="../../..//lib/3rdparty/bootstrap/css/bootstrap.css" />
    <script type="text/javascript" src="jsLib/jquery-1.7.2.min.js"></script>
	<script>
		function getRootPath() {
			return location.protocol+"//"+location.host;
		}

		var loginName = window.parent.loginName;
		var systemList = new Array();

		$.ajax({
			url: top.agsupportUrl + "/thirdappsys/listAuthoredApps",
			type:"post",
			dataType:"json",
			async: false,
			data: { start: 1, rows: 1000, page: 1, loginName: loginName },
			success: function (data) {
				var rows = data.rows;
				for(var i=0; i<rows.length; i++) {
					var row = rows[i];
					if(row.authentication === '1' && row.useSso === '0') {
						row.isNeedLogin = '1';
					} else {
						row.isNeedLogin = '0';
					}

					if(row.status === '1') {
						systemList.push(row);
					}
				}
			},
			error: function () {
			}
		});
	</script>
    <script type="text/javascript" src="../../../lib/3rdparty/layer/layer.js"></script>
    <script type="text/javascript" src="jsLib/sysCenter.js"></script>
</head>
<body>
    <div id="sys-center-container">
        <div class="sys-center-search">
            <div class="input-group">
                <input class="form-control" style="width: 300px;" type="text" name="sysShowName" id="sysShowName" placeholder="业务系统名称" />
                <span><button class="btn btn-primary" type="button" id="sys_search_btn">搜索</button></span>
            </div>
        </div>
        <ul id="sys-center-ul">
        </ul>
    </div>
</body>
</html>
