<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.augurit.gzsw.manager.user.mapper.OrgMapper">

    <select id="listOrgs" resultType="Org">
        select id, name, pid, xpath, disporder
        from A_ORG
        order by disporder
    </select>

    <select id="listOrgsByUserId" resultType="Org">
        select t1.id, t1.name, t1.pid, t1.xpath, t1.disporder
        from A_ORG t1 inner join A_ORG_USER t2 on t1.id = t2.org_id
        where t2.user_id = #{userId}
        order by t1.disporder
    </select>

    <select id="listMineAndDescends" resultType="Org">
        select id, name, pid, xpath, disporder
        from A_ORG
        START WITH ID = #{id}
        CONNECT BY PRIOR ID = PID
        order by disporder
    </select>

    <insert id="saveOrg" parameterType="Org">
        insert into A_ORG(id, name, pid, xpath, disporder)
        values (
          #{id}, #{name}, #{pid}, #{xpath}, #{disporder}
        )
    </insert>

    <update id="updOrg" parameterType="Org">
        update A_ORG
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="pid != null">
                pid = #{pid},
            </if>
            <if test="xpath != null">
                xpath = #{xpath},
            </if>
            <if test="disporder != null">
                disporder = #{disporder},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delOrgs">
        delete from A_ORG
        where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
</mapper>