<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.augurit.gzsw.manager.user.mapper.OrgUserMapper">

    <sql id="orgUserColumns">
        org_id orgId,user_id userId,disporder disporder
    </sql>

    <select id="listByOrgId" resultType="OrgUser">
        select
         <include refid="orgUserColumns"/>
         from A_ORG_USER where org_id = #{orgId} order by disporder
    </select>

    <!--根据orgId与userId删除用户关系，如何userId为空，则移除orgId对应的所有用户，如果不为空，则删除该关系-->
    <delete id="deleteByOrgIdOrUserId">
        delete from A_ORG_USER where org_id = #{orgId}
        <if test="userId != null">
            and user_id = #{userId}
        </if>
    </delete>

    <insert id="insert">
        insert into A_ORG_USER(
        org_id,user_id ,disporder
        )
        values (#{orgId},#{userId},#{disporder})
    </insert>

    <update id="update">
        update A_ORG_USER
        <set>
            <if test="newOrgId != null">
                org_id = #{newOrgId},
            </if>
            <if test="orgUser.disporder != null">
                disporder = #{orgUser.disporder},
            </if>
        </set>
        where org_id = #{orgUser.orgId} and user_id = #{orgUser.userId}
    </update>

</mapper>