<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.augurit.gzsw.manager.user.mapper.UserMapper">

    <!--查询出所有字段 A_ORG t1,A_ORG_USER t2,A_USER t3-->
    <sql id="allUserColumns">
      t1.id orgId,t1.name orgName,t1.xpath xpath,t3.id userId,t3.login_name loginName,t3.password password,
      t3.user_name userName,t3.is_active active,t3.sex sex,t3.tel tel,t3.office_tel officeTel,t3.email email,
      t3.job job,t3.fax fax,t3.qq qq,t2.disporder disporder
    </sql>

    <sql id="userColumns">
        id,login_name,password,user_name,is_active,sex,tel,office_tel,email,job,fax,qq
    </sql>

    <!--根据机构orgId，用户名或者登录名查询用户，机构id是必须的，用户或登录名可以为空-->
    <select id="listUsersByOrgIdAndName" resultType="User" >
      select
        <include refid="allUserColumns"/>
        from (A_ORG t1 inner join A_ORG_USER t2 on t1.id=t2.org_id) inner join A_USER t3 on t2.user_id = t3.id
        where t1.id=#{orgId}
        <if test="userName != null">
            and (t3.user_name like '%' ||  #{userName} || '%'
            or
            t3.login_name like '%' ||  #{userName} || '%')
        </if>
      order by t2.disporder
    </select>

    <update id="update">
        update A_USER
        <set>
            <if test="userName != null">
                user_name = #{userName},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="active != null">
                is_active = #{active},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="officeTel != null">
                office_tel = #{officeTel},
            </if>
            <if test="tel != null">
                tel = #{tel},
            </if>
            <if test="job != null">
                job = #{job},
            </if>
            <if test="fax != null">
                fax = #{fax},
            </if>
            <if test="qq != null">
                qq = #{qq},
            </if>
        </set>
        where id = #{userId}
    </update>

    <insert id="insert">
        insert into A_USER(
        <include refid="userColumns"/>
        )
        values (#{userId},#{loginName},#{password},#{userName},#{active},#{sex},#{tel},#{officeTel},
        #{email},#{job},#{fax},#{qq})
    </insert>

    <select id="listUsers">
        SELECT b.id userId, b.login_name loginName, b.user_name userName,
          b.is_active active, b.sex sex, b.tel tel, b.office_tel officeTel, b.email email,
          b.job job, b.fax fax, b.qq qq
        FROM A_ORG_USER a inner join A_USER b on a.USER_ID = b.ID
        WHERE a.ORG_ID IN
        <foreach collection="orgIds" item="orgId" open="(" separator="," close=")">
            #{orgId}
        </foreach>
    </select>

    <select id="getUser" resultType="User">
        select id, login_name loginName, password, user_name userName, is_active active,
          sex, tel, office_tel officeTel, email, job, fax, qq
        from A_USER
        where id = #{id}
    </select>
</mapper>