<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.augurit.gzsw.manager.user.mapper.UserMapper">


    <sql id="userColumns">
        t1.id userId,t1.login_name loginName,t1.password password,t1.user_name userName,
        t1.is_active active,t1.sex sex,t1.tel tel,t1.office_tel officeTel,t1.email email,
        t1.job job,t1.fax fax,t1.qq qq
    </sql>

    <!--根据机构orgIds，用户名或者登录名查询不重复用户，机构id是必须的，用户或登录名可以为空-->
    <select id="listUsers" resultType="User">
        select
        <include refid="userColumns"/>
        from A_USER t1 inner join
        (select user_id,ORG_ID,DISPORDER, row_number() OVER(PARTITION BY user_id ORDER BY DISPORDER) ds from A_ORG_USER) t2
        on t2.user_id = t1.id
        where t2.ds = 1 and
        t2.org_id in
        <foreach collection="orgIds" item="orgId" open="(" separator="," close=")">
            #{orgId}
        </foreach>
        <if test="userName != null">
            and (t1.user_name like '%' ||  #{userName} || '%'
            or
            t1.login_name like '%' ||  #{userName} || '%')
        </if>
        order by t2.disporder
    </select>

    <select id="listUsersByIds" resultType="User">
        select
        <include refid="userColumns"/>
        from A_USER t1
        where t1.id in
        <foreach collection="ids" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
    </select>

    <update id="update">
        update A_USER
        <set>
            <if test="userName != null">
                user_name = #{userName},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="active != null">
                is_active = #{active},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="officeTel != null">
                office_tel = #{officeTel},
            </if>
            <if test="tel != null">
                tel = #{tel},
            </if>
            <if test="job != null">
                job = #{job},
            </if>
            <if test="fax != null">
                fax = #{fax},
            </if>
            <if test="qq != null">
                qq = #{qq},
            </if>
        </set>
        where id = #{userId}
    </update>
    <insert id="insert">
        insert into A_USER
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="userId != null">
                id,
            </if>
            <if test="loginName != null">
                login_name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="active != null">
                is_active,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="tel != null">
                tel,
            </if>
            <if test="officeTel != null">
                office_tel,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="job != null">
                job,
            </if>
            <if test="fax != null">
                fax,
            </if>
            <if test="qq != null">
                qq,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">

            <if test="userId != null">
                #{userId},
            </if>
            <if test="loginName != null">
                #{loginName}
            </if>
            <if test="password != null">
                #{password},
            </if>
            <if test="userName != null">
                #{userName},
            </if>
            <if test="active != null">
                #{active},
            </if>
            <if test="sex != null">
                #{sex},
            </if>
            <if test="tel != null">
                #{tel},
            </if>
            <if test="officeTel != null">
                #{officeTel},
            </if>
            <if test="email != null">
                #{email},
            </if>
            <if test="job != null">
                #{job},
            </if>
            <if test="fax != null">
                #{fax},
            </if>
            <if test="qq != null">
                #{qq},
            </if>
        </trim>
    </insert>


    <select id="getUser" resultType="User">
        SELECT id userId, login_name loginName, password, user_name userName, is_active active,
        sex, tel, office_tel officeTel, email, job, fax, qq
        FROM A_USER
        <where>
            1 = 1
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="loginName != null">
                AND login_name = #{loginName}
            </if>
            <if test="tel != null">
                AND tel = #{tel}
            </if>
        </where>
    </select>

    <select id="getUserByUserName" resultType="User">
        select id, login_name loginName, password, user_name userName, is_active active,
          sex, tel, office_tel officeTel, email, job, fax, qq
        from A_USER
        where user_name = #{userName}
    </select>

</mapper>
