<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.augurit.asip.watermap.mapper.MenuMapper">
    <sql id="allColumns">
        ID id,
        NAME name,
        URL url,
        ICON icon,
        PATH path,
        AUTHORIZE_CODE authorizeCode,
        DISP_ORDER dispOrder,
        IS_DISPLAY isDisplay,
        REMARK remark,
        PID pid
    </sql>

    <!--按条件查询-->
    <select id="listMenus" resultType="Menu">
        SELECT
          <include refid="allColumns"/>
        FROM NW_MENU
        WHERE IS_DISPLAY = '1'
        <if test="roleId != '' and roleId != null">
            AND ID in (
              SELECT MID FROM NW_RELE_MENU WHERE RID = #{roleId}
            )
        </if>
        ORDER BY DISP_ORDER
    </select>

    <!--按条件查询-->
    <select id="findMenuList" resultType="AgMenu">
        SELECT
        <include refid="allColumns"/>
        FROM AG_MENU
        WHERE
        1 = 1
        <if test="agMenu.name != null">
            AND NAME LIKE CONCAT(CONCAT('%', TRIM(#{agMenu.name})), '%')
        </if>
        <if test="agMenu.url != null">
            AND URL LIKE CONCAT(CONCAT('%', TRIM(#{agMenu.url})), '%')
        </if>
        <if test="agMenu.pcode != null">
            AND PCODE = #{agMenu.pcode}
        </if>
        <if test="agMenu.isUse != null">
            AND IS_USE = #{agMenu.isUse}
        </if>
        <if test="agMenu.dirId == ''">
            AND (dir_Id IS NULL OR dir_Id = '')
        </if>
        <if test="agMenu.dirId != null and agMenu.dirId != ''">
            AND dir_Id = #{agMenu.dirId}
        </if>
        <if test="agMenu.isSystem != '2'.toString() and agMenu.isSystem != null">
            AND IS_SYSTEM = #{agMenu.isSystem}
        </if>
        ORDER BY ORDER_NM
    </select>

    <!--根据角色ID查询-->
    <select id="findMenuByRoleId" resultType="AgMenu">
        SELECT
        t.id id,
        t.name name,
        t.url url,
        t.pcode pcode,
        t.order_nm orderNm,
        t.is_use isUse,
        t.is_system isSystem,
        (CASE
        WHEN t.dir_Id IS NULL OR t.dir_Id = '' THEN ''
        ELSE
        (SELECT t1.xpath FROM AG_MENU_DIR T1 WHERE t1.id = t.dir_Id)
        END) xpath,
        a.id roleMenuId
        FROM
        AG_MENU t,
        (
        SELECT
        t1.*
        FROM
        ag_role_menu t1
        WHERE
        t1.role_id = #{roleId}
        ) a
        WHERE
        t.id = a.menu_id
        <if test="agMenu.name != null">
            AND t.name LIKE CONCAT(CONCAT('%', TRIM(#{agMenu.name})), '%')
        </if>
        <if test="agMenu.url != null">
            AND t.url LIKE CONCAT(CONCAT('%', TRIM(#{agMenu.url})), '%')
        </if>
        <if test="agMenu.pcode != null">
            AND t.pcode = #{agMenu.pcode}
        </if>
        <if test="agMenu.isUse != null">
            AND t.is_use = #{agMenu.isUse}
        </if>
        <if test="agMenu.isSystem != '2'.toString() and agMenu.isSystem != null">
            AND t.is_system = #{agMenu.isSystem}
        </if>
        ORDER BY t.order_nm,t.name
    </select>

    <!--根据用户ID查询-->
    <select id="findMenuByUserId" resultType="AgMenu">
        SELECT
        <include refid="allColumns"/>
        FROM AG_MENU
        WHERE
        ID IN (
        SELECT DISTINCT
        menu_id
        FROM
        ag_role_menu
        WHERE
        role_id IN (
        SELECT
        role_id
        FROM
        ag_user_role
        WHERE
        user_id = #{userId}
        )
        )
        ORDER BY ORDER_NM,NAME
    </select>

    <!--保存-->
    <insert id="saveMenu" parameterType="Menu">
        INSERT INTO NW_MENU (ID, NAME, URL, ICON, PATH, AUTHORIZE_CODE, DISP_ORDER, IS_DISPLAY, REMARK, PID)
        VALUES ( #{id}, #{name}, #{url}, #{icon}, #{path}, #{authorizeCode}, #{dispOrder}, #{isDisplay}, #{remark}, #{pid})
    </insert>

    <!--修改-->
    <update id="updateMenu">
        UPDATE NW_MENU
        <set>
            <if test="name != null">
                NAME = #{name},
            </if>
            <if test="url != null">
                URL = #{url},
            </if>
            <if test="icon != null">
                ICON = #{icon},
            </if>
            <if test="path != null">
                PATH = #{path},
            </if>
            <if test="authorizeCode != null">
                AUTHORIZE_CODE = #{authorizeCode},
            </if>
            <if test="dispOrder != null">
                DISP_ORDER = #{dispOrder},
            </if>
            <if test="isDisplay != null">
                IS_DISPLAY = #{isDisplay},
            </if>
            <if test="remark != null">
                REMARK = #{remark},
            </if>
            <if test="pid != null">
                PID = #{pid},
            </if>
        </set>
        WHERE
        ID = #{id}
    </update>

    <!--删除-->
    <delete id="deleteMenu">
        DELETE
        FROM
        AG_MENU
        WHERE
        ID = #{id}
    </delete>

    <!--按编码集查询最大编码-->
    <select id="getMaxOrderNm" resultType="java.lang.Integer">
        SELECT
        max(ORDER_NM)
        FROM
        AG_MENU
        WHERE 1=1
        <if test="dirId == null">
            AND (dir_Id IS NULL OR dir_Id = '')
        </if>
        <if test="dirId != null">
            AND dir_Id = #{dirId}
        </if>
    </select>

    <!--按条件查询-->
    <select id="findMenuByXpath" resultType="AgMenu">
        SELECT
        <include refid="allColumns"/>
        FROM AG_MENU t
        WHERE 1=1
        <if test="xpath != null">
            AND t.dir_Id IN (SELECT t1.ID FROM AG_MENU_DIR T1 WHERE t1.xpath LIKE CONCAT(#{xpath},'/%') OR t1.xpath =
            #{xpath})
        </if>
        <if test="agMenu.name != null">
            AND t.name LIKE CONCAT(CONCAT('%', TRIM(#{agMenu.name})), '%')
        </if>
        <if test="agMenu.url != null">
            AND t.url LIKE CONCAT(CONCAT('%', TRIM(#{agMenu.url})), '%')
        </if>
        <if test="agMenu.pcode != null">
            AND t.pcode = #{agMenu.pcode}
        </if>
        <if test="agMenu.isUse != null">
            AND t.is_use = #{agMenu.isUse}
        </if>
        <if test="agMenu.isSystem != '2'.toString() and agMenu.isSystem != null">
            AND t.is_system = #{agMenu.isSystem}
        </if>
        ORDER BY t.order_nm,t.name
    </select>

    <!--按条件查询-->
    <select id="findMenuByXpathUser" resultType="AgMenu">
        SELECT
        <include refid="allColumns"/>
        FROM AG_MENU t
        WHERE ID IN (
        SELECT DISTINCT
        menu_id
        FROM
        ag_role_menu
        WHERE
        role_id IN (
        SELECT
        role_id
        FROM
        ag_user_role
        WHERE
        user_id = #{userId}
        )
        )
        <if test="xpath != null">
            AND t.dir_Id IN (SELECT t1.ID FROM AG_MENU_DIR T1 WHERE t1.xpath LIKE CONCAT(#{xpath},'/%') OR t1.xpath =
            #{xpath})
        </if>
        <if test="agMenu.name != null">
            AND t.name LIKE CONCAT(CONCAT('%', TRIM(#{agMenu.name})), '%')
        </if>
        <if test="agMenu.url != null">
            AND t.url LIKE CONCAT(CONCAT('%', TRIM(#{agMenu.url})), '%')
        </if>
        <if test="agMenu.pcode != null">
            AND t.pcode = #{agMenu.pcode}
        </if>
        <if test="agMenu.isUse != null">
            AND t.is_use = #{agMenu.isUse}
        </if>
        <if test="agMenu.isSystem != '2'.toString() and agMenu.isSystem != null">
            AND t.is_system = #{agMenu.isSystem}
        </if>
        ORDER BY t.order_nm,t.name
    </select>

    <!--通过子目录id和用户返回菜单-->
    <select id="findMenuByPidAndLoginName" resultType="AgMenu">
        select id, name, url, icon from (
        SELECT distinct d.ORDER_NM orderNM, d.ID id,d.NAME name,d.URL url,d.ICON icon
        FROM ag_user a ,ag_user_role b,ag_role_menu c,ag_menu d
        WHERE a.ID = b.user_id
        AND a.login_name=#{loginName}
        AND b.role_id=c.role_id
        AND d.id=c.menu_id
        AND d.dir_id =#{parentId}
        AND d.is_use = '1'
        )
        ORDER BY orderNM
    </select>
</mapper>