.icon-folder{
    background: url('icons/tree_icons.png') no-repeat -208px 0;
    display: inline-block;
    width: 16px;
    height: 18px;
    vertical-align: top;
    overflow: hidden;
}

.datagrid-btable .datagrid-cell{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}